.addDoi {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.addDoiInput {
    margin-right: 10px;
    background-color: transparent;
    border-bottom: 2px solid rgb(77, 170, 160);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: center;
}
.addDoiInput:hover {
    border: 2px solid rgb(77 170 160);
    border-radius: 8px;
}
.addButton {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 0;
    max-height: fit-content;
    max-width: fit-content;
    background-color: rgb(77, 170, 160);
    border: 0;
}
.addButton:hover {
    border: 1px solid rgb(77 170 160);
    transition: border-color 0.25s;
}