.group-name {
    color: rgb(77 170 160);
}

.overview-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -25px;
    width: 800px;
}
.group-card {
    background-color: #335F7A;
    border-radius: 8px;
    margin: 10px 10px 0 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.group-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.group-card-btn {
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.group-card-btn:hover {
    border: 1px solid rgb(77 170 160);
    border-radius: 20px;
}
