.rs-tag {
    display: inline-block;
    background-color: blue;
    color: #343434;
    border-radius: 6px;
    line-height: 20px;
}
.rs-tag-group {
    display: flex;
    flex-direction: row;
}
.rs-tag-closable {
    position: relative;
}
.rs-tag-icon-close {
    position: absolute;
    top: 0;
    right: 0;
}
.rs-tag-md {
    padding: 2px 8px;
    font-size: 12px;
}
.rs-tag-text {
    color: cadetblue;
    font-size: 20px;
}