header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -10px 1px 15px rgb(56 115 236);
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: rgb(9 15 22);
}
.logo {
    display: block;
    height: 60px;
    width: auto;
    padding: 4px;
    object-fit: contain;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo-text {
    color: rgb(56 115 236);
}
.logo-text:hover {
    filter: drop-shadow(2px 2px 1em rgb(77 170 160));
}
nav .clickable{
    margin-right: 60px;
}