.p-datatable .p-datatable-thead > tr > th {
    background-color: #1a1a1a;
    border-color: rgb(43 45 48);
    border-bottom-width: 5px;
    border-top-width: 0;
}
span.p-column-title {
    background-color: #1a1a1a;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    background-color: #1a1a1a;
}
div.p-column-header-content {
    background-color: #1a1a1a;
}
.p-component {
    background-color: #1a1a1a;
    border-color: rgb(43 45 48);
}
.p-datatable-footer {
    background-color: #1a1a1a;
    border-color: rgb(43 45 48);
    border-top-width: 3px;
    border-bottom-width: 0px;
    color: rgb(77 170 160);
    font-size: 15px;
}
td {
    background-color: #1a1a1a;
    border-color: rgb(43 45 48);
    font-size: 16px;
    padding: 5px 8px 5px  8px;
}
.clickable {
    cursor: pointer;
}
.truncate-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}
.truncate-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.fav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
.fav {
    line-height: 0;
    font-size: 20px;
}