.detail-wrapper {
    width: 100%;
}
.title{
    color: rgb(77 170 160);
}
b {
    color: rgb(77 170 160);
}
p {
    line-height: 3;
}
.detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}
.detail-action-button {
    margin-right: 10px;
}
.container {
    max-width: 70%;
}
.saveButton {
    margin-top: 20px;
}
.group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.group-title {
    margin-right: 20px;
}