.p-datatable .p-datatable-thead > tr > th {
    background-color: #4a4a4a;
    border-color: rgb(43 45 48);
    border-bottom-width: 2px;
}
span.p-column-title {
    background-color: #4a4a4a;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    background-color: #4a4a4a;
}
div.p-column-header-content {
    background-color: #4a4a4a;
}
.p-component {
    background-color: #4a4a4a;
    border-color: rgb(43 45 48);
}
.p-datatable-footer {
    background-color: #4a4a4a;
    border-color: rgb(43 45 48);
    border-top-width: 2px;
    color: rgb(77 170 160);
    font-size: 15px;
}
td {
    background-color: #5a5a5a;
    font-size: 16px;
}
.clickable {
    cursor: pointer;
}
.truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* oder wie breit du willst */
    white-space: normal; /* wichtig, sonst bricht er nicht in Zeilen */
}
.truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* oder wie breit du willst */
    white-space: nowrap; /* wichtig, sonst bricht er nicht in Zeilen */
}