.detail-wrapper {
    width: 1000px;

}
.title{
    color: rgb(77 170 160);
}
b {
    color: rgb(77 170 160);
}
.detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.detail-action-button {
    margin-right: 10px;
}